    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }


    body {
        margin: 0;
        background: rgb(13, 19, 47);
        background: linear-gradient(90deg, rgba(13, 19, 47, 1) 0%, rgba(47, 21, 42, 1) 47%, rgba(56, 18, 59, 1) 83%, rgba(81, 22, 34, 1) 100%);
        color: white;

    }

    